/* google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* css style by tag names */
body{
    margin: 0;
    font-family: "Quicksand", sans-serif;
    color: rgb(0, 0, 0);
    background: #ffffff;
}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 5px 2vw; */
}

/* id for index page */
#section1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 550px;
}


#section2{
    height: 350px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    justify-content: center;
}

#section3 {
    /* position: fixed; */
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
    justify-content: space-between;
    /* z-index: 1000; */
    background-color: #ffffff;
}

.title2{
    font-size: 30px;
    font-weight: 400;
    margin-top: 0px;
    color: #202731;
}

.zero-space{
    padding: 0;
    margin: 0;
}

.logo-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 70px;
}

.signout-button{
    padding-right: 70px;
}

.button-div{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 65px;
    font-weight: 400;
    margin-top: -10px;
    color: #fff;
}

.tagline{
    font-size: 25px;
    font-weight: 400;
    margin-top: -30px;
    color: #fff;

}

.navy{
    background:#202731;
}

.carrot{
    background:#CE2D4F;
}

.white{
    background:#ffffff;
}


.yellow{
    background:#ffc547;
}

.black{
    color: #000000;
}

.logo{
    margin-top: 40px;
    padding-bottom: 40px;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 156px;
}

.wave .shape-fill {
    fill: #ffffff;
}

.spacer1 {
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1600/380;
}

.layer1 {
    background-image: url('./layer1.svg');
    margin-top: -50px;
}

.spacer2 {
    width:100%;
    /* background-position: fixed; */
    /* position: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
    /* z-index: 900; */
    aspect-ratio: 1600/150;
}

.layer2 {
    background-image: url('./layer2.svg');
    margin-top: -15px;
}

.lock-top-bar{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.arrow-down{
    font-size: 50px;
    color: #ffffff;
    margin-top: 0px;
    transition: transform 0.3s ease; 
    text-decoration: none;
}

.arrow-down:hover{
    transform: scale(1.3);
    text-decoration: none;
}

a:visited, a:active, a:hover, a{
    color: #ffffff;
    text-decoration: none;
}

button {
    --c:  #ffc547;
    
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
  }

  button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
    color: #fff;
    font-family: "Quicksand", sans-serif;
  }

  button:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
    font-family: "Quicksand", sans-serif;
  }
  
  button {
    font-size: 1.2rem;
    cursor: pointer;
    padding: .5em 1em;
    border: none;
    border-radius: 30px;
  }

  /* CSS for search bar */
#results {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 500px;
    max-height: 200px; 
    overflow-y: auto;
    border-radius: 3px;
    background-color: #f5f5f5;
  }
  
  #results li {
    background-color: #f5f5f5;
    padding: 12px;
    text-align: left;
    color:#000000;
    font-size: 1.2rem;
    font-weight: 500;
    border: 1px solid #202731;
  }

  #results li:hover {
    background-color: #ffffff;
  }

  #search{
    background-color: #fff;
    border: 2.7px solid #202731;
    border-radius: 50px;
    width: 500px;
    height: 44px;
  }

  input{
    font-family: "Quicksand", sans-serif;
    font-size: 1.2rem;
    color: #000000;
    padding-left: 15px;
    font-weight: 500;
  }
  

  input::placeholder {
    font-family: "Quicksand", sans-serif;
    font-size: 1.2rem;
    color: #888;
}

/* Pop-up Form Styles */
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.504);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    z-index: 1001;
    transition: visibility 0s, opacity 0.5s;
}

.popup {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 450px;
    text-align: center;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    z-index: 1002;

}

.form-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.popup-container.show {
    visibility: visible;
    opacity: 1;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.popup h2 {
    margin-top: 0;
}

.popup input {
    width: 95%;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup button {
    width: 22%;
    padding: 10px;
    background: #ffffff;
    border: none;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 1rem;
}

.popup button:hover {
    background: #ffc547;
    color: rgb(255, 255, 255);
}

.popup p {
    font-size: 0.9rem;
}

.popup a {
    color: #CE2D4F;
    text-decoration: none;
    cursor: pointer;
}

.popup a:hover {
    text-decoration: underline;
}

/* Flip Animation */
.popup.flip {
    transition: transform 0.8s;
    transform: rotateY(180deg);
}

/* Footer styles */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* background-color: #2027311f; */
    color: #202731;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    padding: 15px 0;
    z-index: 1000; /* Ensure it stays on top of other elements */
}

.bold-text{
    font-weight: 600;
}


/* BOOKS CARD CSS STYLING */

#section4 {
    height: 300px;
}


#section5 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 40px;
    padding-left: 70px;
    row-gap: 80px;
}


.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    border-radius: 24px;
    line-height: 1.6;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 250px;
    padding: 20px;
    border-radius: 22px;
    color:  #202731;
    overflow: hidden;
    background:#ffffff ;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .content::before {
    position: absolute;
    content: "";
    top: -4%;
    left: 50%;
    width: 100%;
    height: 108%;
    transform: translate(-50%);
    background: #202731;
    z-index: -1;
    transform-origin: bottom;
  
    border-radius: inherit;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .content::after {
    position: absolute;
    content: "";
    top: -8%;
    left: 50%;
    width: 90%;
    height: 80%;
    transform: translate(-50%);
    background: #7d90aa ;
    z-index: -2;
    transform-origin: bottom;
    border-radius: inherit;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .content .para {
    z-index: 1;
    opacity: 1;
    font-size: 18px;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    margin: 0px;
    flex-wrap: wrap;
  }
/*   
  .content .link {
    z-index: 1;
    color: #fea000;
    text-decoration: none;
    font-family: inherit;
    font-size: 16px;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  } */
  
  /* .content .link:hover {
    text-decoration: underline;
  }
   */
  .card:hover {
    transform: translate(0px, -16px);
  }
  
  .card:hover .content::before {
    rotate: -4deg;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  .card:hover .content::after {
    rotate: 3deg;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  .bold{
    font-weight: 600;
  }